@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap')

\:root
  --body-font: 'Montserrat', sans-serif
  --alt-font: 'Open Sans', sans-serif
  --global-padding: 5%
  --color-one: #111
  --color-two: #fff
  --color-three: #dfdfdf
  --color-four: #eee
  --default-shadow: 0 1px 4px 1px var(--color-three)

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  font-family: var(--body-font)
  background-color: var(--color-two)

  a,
  a:hover
    text-decoration: none
    cursor: pointer
    @extend .transition-3ms

  img
    max-width: 100%
    height: auto !important
    margin: 0 0 -4px 0

  h1, h2, h3, h4, h5
    margin: 0

  .woocommerce-breadcrumb,
  .woocommerce-ordering
    margin: 0 !important

  .woocommerce-Price-currencySymbol
    display: inline-block !important

  .woocommerce-error,
  .woocommerce-info,
  .woocommerce-message
    border-top-color: var(--color-one)
    background: var(--color-two)
    box-shadow: var(--default-shadow)

  .woocommerce-error::before,
  .woocommerce-info::before,
  .woocommerce-message::before
    color: var(--color-one)

  .transition-3ms
    -webkit-transition: all 0.3s ease-in-out
    -moz-transition: all 0.3s ease-in-out
    -ms-transition: all 0.3s ease-in-out
    -o-transition: all 0.3s ease-in-out
    transition: all 0.3s ease-in-out

  #scroll-top
    position: fixed
    z-index: 5
    display: none
    bottom: 10px
    right: 10px
    color: var(--color-two)
    background: var(--color-one)
    padding: 10px 13px
    animation-name: scroll-top
    animation-duration: 0.5s
    border-radius: 2px
    @extend .transition-3ms

  #scroll-top:hover
    bottom: 20px

  .woocommerce
    .product
      span.price
        span
          color: var(--color-one) !important

header
  z-index: 5
  position: relative
  background: var(--color-two)

  #top-bar
    display: flex
    justify-content: space-between
    align-items: center
    padding: 16px var(--global-padding)
    background: var(--color-one)
    color: var(--color-two)
    font-size: 13px
    font-weight: 500
    text-transform: uppercase
    position: relative
    z-index: 1

    .ship-to
      span
        opacity: 0.8

      .label
        font-weight: 600

    .site-language
      span
        opacity: 0.8
        margin: 0 0 0 10px
        display: inline-block

      .current
        opacity: 0.9

  #bottom-bar
    padding: 0 var(--global-padding)
    display: flex
    align-items: center
    justify-content: space-between
    box-shadow: var(--default-shadow)

    ul
      li
        list-style: none
        display: inline-block

    h1
      font-size: 22px
      font-weight: 700

      a
        color: var(--color-one)

    .right-content
      display: flex
      align-items: center
      justify-content: flex-end

      nav
        margin-right: 8px

        [data-menu="button"]
          display: none

        ul

          li
            margin-right: 26px
            padding: 19px 0

            a
              color: var(--color-one)
              position: relative

            a:before
              content: ""
              position: absolute
              width: 5px
              height: 5px
              background: var(--color-one)
              border-radius: 100%
              left: 50%
              margin: -10px 0 0 -2px
              opacity: 0
              @extend .transition-3ms

            a:hover:before
              opacity: 1

            ol
              position: absolute
              margin: 25px 0 0 -20px
              opacity: 0
              background: var(--color-two)
              width: 100%
              left: 0
              padding: 30px var(--global-padding)
              visibility: hidden
              border-bottom: 1px solid var(--color-four)
              display: flex
              @extend .transition-3ms

              .image
                flex: 0 0 20%
                margin: 0 20px 0 0

              .container
                flex: 0 0 80%
                column-count: 4
                column-gap: 20px

                .box
                  margin: 0 0 30px 0

                  span
                    margin: 0 0 10px 10px
                    opacity: 0.5
                    cursor: default
                    display: block
                    font-size: 13px
                    font-weight: 500

                  li
                    display: block
                    margin: 0 0 8px 10px
                    padding: 0

                    a
                      border: none
                      padding: 0

                    a:before
                      display: none

                    a:hover
                      color: #de0d0d
                      padding-left: 5px

          li:hover,
          li.active
            ol
              margin: 25px 0 0 0
              opacity: 1
              visibility: visible

      .header-admin-buttons
        ul
          display: flex
          align-items: center

          li
            padding: 18px 8px

            a
              color: var(--color-one)
              font-size: 20px

              span.lnr-cart
                font-size: 23px

            a:hover
              opacity: 0.7

          li.cart-link
            margin-left: 2px
            position: relative
            padding: 18px 2px
            margin: 0 6px

            a
              position: relative

            .count
              position: absolute
              background: #de0d0d
              border-radius: 100%
              left: -2px
              top: -3px
              width: 8px
              height: 8px

          li.user-profile
            margin-left: 15px

            img
              width: 30px
              height: 30px
              border-radius: 100%
              object-fit: contain

#main-slide
  .slide-wrap
    display: flex
    overflow-x: hidden
    position: relative
    height: 100%
    margin-left: -4px

    .slide
      position: relative
      height: 400px
      overflow: hidden
      margin-left: 4px
      width: calc( (100% / 3) * 2)
      display: inline-block
      background-size: cover
      flex-shrink: 0
      -webkit-transition: all 0.4s ease-out
      -moz-transition: all 0.4s ease-out
      -ms-transition: all 0.4s ease-out
      -o-transition: all 0.4s ease-out
      transition: all 0.4s ease-out

      .container
        position: absolute
        height: 100%
        width: 100%
        padding: 40px
        top: 0
        display: flex
        align-items: flex-end
        justify-content: center
        background: rgba(0, 0, 0, 0.6)

        a
          background: #000
          color: var(--color-two)
          font-weight: 500
          text-transform: uppercase
          text-align: center
          min-width: 200px
          padding: 14px 20px
          font-size: 13px
          display: none

    .active
      .container
        background: rgba(0, 0, 0, 0)

        a
          display: block

    .previous,
    .next
      position: absolute
      height: 100%
      z-index: 1
      display: flex
      align-items: center
      top: 0

      a
        color: var(--color-two)
        background: var(--color-one)
        display: inline-block
        padding: 10px

    .previous
      left: 0px

    .next
      right: 0px
      justify-content: flex-end

#recommended
  padding: 30px 0

  h2
    text-align: center
    margin: 0 0 10px 0
    font-size: 16px

  .slide-wrap
    display: flex
    overflow-x: hidden
    position: relative
    height: 100%
    margin-left: -4px

    .slide
      position: relative
      height: 200px
      overflow: hidden
      width: calc( 100% / 6 )
      display: inline-block
      background-size: cover
      flex-shrink: 0
      margin-left: 4px
      @extend .transition-3ms

      .container
        position: absolute
        height: 100%
        width: 100%
        padding: 40px
        top: 0
        display: flex
        align-items: center
        justify-content: center
        opacity: 0
        transform: skewX(-30deg)
        @extend .transition-3ms

        a
          color: var(--color-two)
          font-weight: 500

    .slide:hover
      .container
        background: rgba(0, 0, 0, 0.6)
        backdrop-filter: blur(2px)
        opacity: 1
        transform: skewX(0deg)

    .previous,
    .next
      position: absolute
      height: 100%
      z-index: 1
      display: flex
      align-items: center

      a
        color: var(--color-two)
        background: var(--color-one)
        display: inline-block
        padding: 10px

    .previous
      left: 0px

    .next
      right: 0px
      justify-content: flex-end

#main-section
  padding: 40px var(--global-padding) 10px var(--global-padding)
  margin: 0 auto
  max-width: 1500px

  #content-info
    padding: 0 0 30px 0
    display: flex
    justify-content: space-between
    align-items: center
    opacity: .7

    .category
      color: var(--color-one)
      font-size: 16px

      a
        color: var(--color-one)

    .filters
      form
        select
          border: none
          outline: none
          font-family: var(--body-font)
          font-size: 15px
          font-weight: 500
          background: transparent

          option
            border: none
            outline: none
            font-family: var(--body-font)
            font-size: 15px
            font-weight: 500

      #columns-count
        margin-right: 15px

    .model
      font-size: 15px
      font-weight: 500

  h2.alt-font-style
    font-family: "Playfair Display"
    font-weight: 500
    font-size: 36px
    text-align: center
    margin: 0 0 70px 0

    a
      color: var(--color-one)

    span
      display: inline-block
      position: relative

    span::before
      content: ""
      position: absolute
      height: 3px
      width: 40%
      background: var(--color-one)
      left: 32%
      bottom: -40px

#navigation
  display: flex
  padding: 25px 25px 10px 25px
  margin: 0 var(--global-padding) 60px var(--global-padding)
  background: var(--color-two)
  box-shadow: var(--default-shadow)
  border-radius: 5px
  justify-content: center

  nav.navigation.pagination,
  .nav-links
    width: 100%

  .nav-links
    display: flex
    justify-content: center

    a
      color: var(--color-one)

    span,
    a
      margin: 0 20px 20px 0

    .current
      text-decoration: underline
      font-style: italic

    .prev
      margin: 0 40px 0 0

    .next
      margin: 0 0 0 40px

#contact
  background: var(--color-four)
  padding: 40px
  border-radius: 10px
  margin: 30px var(--global-padding) 0 var(--global-padding)
  display: flex

  .left-container
    flex: 0 0 40%
    padding-right: 40px

    img
      display: block
      margin: 0 auto

  .right-container
    flex: 0 0 60%
    display: flex
    align-items: center

    .container
      width: 100%

      h2
        font-size: 20px
        margin: 0 0 20px 0
        font-weight: 400

      input
        border: none
        outline: none
        border-radius: 5px
        padding: 15px
        font-family: var(--body-font)
        display: block
        width: 100%
        font-size: 15px
        margin: 0 0 10px 0

      input:focus
        border-color: #de0d0d

      input[type="submit"]
        background: rgba(0, 0, 0, 0.5)
        color: var(--color-two)

footer
  background: var(--color-one)
  color: var(--color-two)
  margin: 60px 0 0 0

  .container
    padding: 50px var(--global-padding)
    display: flex
    justify-content: space-between

    .site-info
      flex: 1 0 20%

      h2
        font-family: "Playfair Display"
        font-weight: 500
        font-size: 35px

    .links
      display: grid
      grid-template-columns: repeat(2, 1fr)
      padding: 0 5%
      column-gap: 50px

      .footer-links
        flex: 0 0 60%

        .label
          display: block
          margin: 0 0 25px 0
          font-weight: 500

        ul
          li
            list-style: none
            margin-bottom: 10px

            a
              color: var(--color-two)
              opacity: 0.7

            a:hover
              opacity: 1

          li:last-child
            margin-bottom: 0

          li.current-menu-item,
          li.current_page_item
            a
              opacity: 1

    .payment-methods
      flex: 1 0 20%

  .bottom-bar
    padding: 18px var(--global-padding)
    background: #181818
    display: flex
    justify-content: space-between

#products-section
  display: flex
  overflow: hidden
  margin: 0 0 40px 0

  #products
    text-align: right
    flex: 1 0 50%
    margin: 0
    display: flex
    flex-wrap: wrap

    a
      color: var(--color-one)

    .product-single
      width: 100%
      margin: 0
      border: none
      border-radius: none

      .product-info
        text-align: left
        padding: 15px

        h3
          font-size: 16px

      .buttons
        position: absolute

  .product-buttons
    flex: 1 0 30%
    padding: 30px
    border-right: 1px solid var(--color-three)
    position: relative

    .top-content
      display: flex
      justify-content: space-between
      align-items: center

      .product-info
        .name,
        .price,
        .reviews
          display: block

        .name
          font-size: 22px

        .price
          font-weight: 600
          font-size: 26px
          margin: 8px 0 0 0

        .reviews
          text-decoration: underline
          color: var(--color-one)
          opacity: 0.8
          margin: 5px 0 0 0
          font-size: 15px

      .favorite-button
        a
          color: var(--color-one)
          font-size: 40px

        a:hover
          color: #de0d0d

    .box-label
      font-weight: 500
      font-size: 18px
      margin: 0 0 15px 0

    .size
      margin: 30px 0 0 0

      ul
        li
          list-style: none
          display: inline-flex
          font-weight: 500

          a
            color: var(--color-one)
            background: #b4b4b4
            padding: 10px
            margin: 0 1px 4px 0
            min-width: 40px
            display: inline-block
            text-align: center

          a:hover,
          .active
            background: var(--color-one)
            color: var(--color-two)

  .product-recomendation
    flex: 1 0 20%
    padding: 30px

    h4
      margin-bottom: 20px

    a
      display: block
      margin-bottom: 20px

      img
        border-radius: 5px

#contact
  background: var(--color-three)

// Default Search Template

.products-search-box
  position: relative
  width: 100%
  display: flex
  align-items: center

  input[type="text"]
    width: 100%
    border-radius: 5px
    border: none
    box-shadow: var(--default-shadow)
    padding: 15px 50px 15px 20px
    font-family: var(--default-font)
    font-size: 16px
    display: block
    width: 100%
    outline: none

  .hidden
    display: none !important

  button[type="submit"]
    position: absolute
    border: none
    background: transparent
    font-size: 17px
    right: 20px
    margin: 2px 0 0 0
    opacity: 0.6
    cursor: pointer

  button[type="submit"]:hover
    opacity: 1

// Default product template 

.product
  box-shadow: var(--default-shadow)
  background: var(--color-two)
  border-radius: 5px
  overflow: hidden
  position: relative

  a
    color: var(--color-one)

    .product-info
      padding: 25px

      span
        display: inline-block

      .brand
        font-size: 13px
        opacity: 0.6
        font-weight: 600
        margin-bottom: 8px

      h3
        font-family: 'Playfair Display', serif
        font-weight: 500
        font-size: 18px
        margin: 5px 0 0 0

      .price
        font-family: 'Libre Baskerville', serif
        font-size: 20px
        margin: 9px 0 0 0
        color: var(--color-one) !important

  .buttons
    position: absolute
    padding: 30px 20px
    top: 0
    right: 0

    ul
      li
        list-style: none
        margin-bottom: 30px
        text-align: center

        a
          background: var(--color-two)
          color: var(--color-one)
          padding: 10px 10px 8px 10px
          border-radius: 5px
          font-size: 25px

      li.add-to-cart
        a:hover
          background: var(--color-one)
          color: var(--color-two)

      li.add-to-favs
        opacity: 0

        a:hover
          background: red
          color: var(--color-two)

.product:hover
  .buttons
    ul
      li.add-to-favs
        opacity: 1

.product:hover
  transform: rotate(0deg)

// Blog post template

.blog-post
  position: relative
  height: 40vw
  overflow: hidden
  width: calc( 100% / 3 - 20px)
  background-size: cover
  margin: 0 30px 30px 0
  border-radius: 5px
  @extend .transition-3ms

  .container
    position: absolute
    height: 100%
    width: 100%
    padding: 40px
    top: 0
    display: flex
    align-items: flex-end
    justify-content: flex-start
    background: -moz-linear-gradient(0deg, rgba(0,0,0,0.9) 7%, rgba(0,0,0,0.7) 40%, rgba(0,0,0,0) 80%)
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.9) 7%, rgba(0,0,0,0.7) 40%, rgba(0,0,0,0) 80%)
    background: linear-gradient(0deg, rgba(0,0,0,0.9) 7%, rgba(0,0,0,0.7) 40%, rgba(0,0,0,0) 80%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1)
    @extend .transition-3ms

    .info
      color: var(--color-two)

      h2
        font-family: var(--default-font) !important
        text-align: left !important
        font-size: 24px !important
        font-weight: 500
        margin: 0 0 20px 0

      p
        opacity: 0.7
        display: block
        margin: 0 0 30px 0
        font-size: 15px
        line-height: 1.3em

      a
        color: var(--color-two)
        font-weight: 500
        display: inline-block
        font-size: 17px

      a:hover
        text-decoration: underline

.blog-post:hover
  .container
    backdrop-filter: blur(2px) grayscale(1)
    padding-bottom: 60px

body.home
  .blog-post:last-child
    margin-right: 0 !important

body.blog
  .blog-post:nth-child(3n+0)
    margin-right: 0

body.blog
  #main-section
    padding: 50px var(--global-padding) 0 var(--global-padding)

    .wrap
      display: flex
      flex-wrap: wrap

// Home Page

body.home
  #home-main-section
    position: relative
    display: flex
    padding: 50px var(--global-padding) 100px var(--global-padding)

    #svg-decor-1
      position: absolute
      left: 0
      top: 0
      margin: -90px 0 0 0
      z-index: -1

    #svg-decor-2
      position: absolute
      right: 0
      bottom: -130px
      z-index: -1

    .left-container
      flex: 0 0 50%
      padding-right: calc(var(--global-padding) + 30px)

      h1
        font-family: 'Playfair Display', serif
        font-size: 40px

      .bottom
        padding-top: 100px

        .links
          ul
            display: flex
            justify-content: space-between
            margin: 20px 0 0 0

            li
              list-style: none
              flex: 0 0 49%

              a
                display: block
                padding: 15px
                border-radius: 5px
                text-align: center
                font-weight: 500

            li.log-in
              a
                background: var(--color-three)
                color: var(--color-one)

            li.best-sellers
              a
                background: var(--color-one)
                color: var(--color-two)

    .right-container
      flex: 0 0 50%
      display: flex

      .product
        flex: 0 0 calc(50% - 30px)
        transform: rotate(3deg)
        transition: all 0.3s ease-in-out

      .product:nth-child(1)
        margin: 0 30px 0 0

      .product:first-child
        top: 50px

  #slide-one
    overflow: hidden
    position: relative
    margin: 30px auto 0 auto

    .content
      margin: 0 auto
      width: calc( 100% - var(--global-padding) - 70px )
      position: relative

      .slide-wrap
        display: flex
        overflow: hidden
        position: relative
        height: 100%
        margin-left: -4px
        border-radius: 10px

        .slide
          position: relative
          height: 400px
          overflow: hidden
          width: calc( 100% / 1 )
          display: inline-block
          background-size: cover
          flex-shrink: 0
          margin-left: 4px
          border-radius: 10px
          display: none
          animation-name: slide-home
          animation-duration: 0.8s

          .container
            position: absolute
            height: 100%
            width: 100%
            padding: 40px
            top: 0
            display: flex
            align-items: center
            justify-content: center

            .info
              width: 60%
              text-align: center

              h2
                font-family: 'Playfair Display', serif
                color: var(--color-two)
                font-size: 36px
                font-weight: 500

              a
                color: var(--color-two)
                font-weight: 500
                background: rgba(255, 255, 255, 0.3)
                border-radius: 5px
                padding: 10px
                display: inline-block
                margin: 20px 0 0 0
                min-width: 150px
                backdrop-filter: blur(2px)

              a:hover
                outline-width: 1px
                outline-style: solid

        .active
          display: block

        .previous,
        .next
          position: absolute
          height: 100%
          z-index: 1
          display: flex
          align-items: center

          a
            color: var(--color-two)
            background: var(--color-one)
            display: inline-block
            padding: 10px

        .previous
          left: 0px

        .next
          right: 0px
          justify-content: flex-end

      .navigation-bullets
        position: absolute
        top: 0
        right: 0
        height: 100%
        display: flex
        justify-content: center
        flex-direction: column
        margin: 0 var(--global-padding) 0 0

        a
          width: 13px
          height: 13px
          background: rgba(255, 255, 255, 0.5)
          border-radius: 100%
          margin-bottom: 8px

        a.active
          background: rgba(255, 255, 255, 1)

    .content::before,
    .content::after
      content: ""
      height: 100%
      width: 50%
      top: 0
      background: var(--color-four)
      border-radius: 10px
      position: absolute

    .content::before
      left: 0
      margin-left: calc( 0% - (50% + 10px))

    .content::after
      right: 0
      margin-right: calc( 0% - (50% + 10px))

  header
    background: transparent

    #bottom-bar
      box-shadow: unset
      padding-top: 10px

      h1
        font-size: 18px

      .right-content
        nav
          ul
            li
              ol
                border: none
                box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1)
                border-radius: 10px
                left: 40px
                width: calc( 100% - 80px )

  #best-sellers
    display: flex
    padding: 80px var(--global-padding) 3% var(--global-padding)

    .left-container
      flex: 0 0 35%
      display: flex
      align-items: center
      padding-right: 6%

      .container
        h2
          font-family: 'Playfair Display', serif
          font-size: 36px
          position: relative
          display: inline-block
          margin: 0 0 20px 0

        h2::before
          content: ""
          height: 3px
          width: 40%
          max-width: 40px
          background: var(--color-one)
          position: absolute
          bottom: -20px

        p
          display: block
          margin: 24px 0 0 0

    .right-container
      flex: 0 0 65%
      display: flex

      .block-left
        flex: 0 0 50%
        padding-right: 30px
        display: flex
        align-items: center

        .product
          margin: -20px 0 0 0

      .block-right
        flex: 0 0 50%
        display: flex
        flex-wrap: wrap

        .product
          flex: 0 0 calc(50% - 30px)
          margin: 0 30px 30px 0

          a
            color: var(--color-one)

            .product-info
              padding: 20px

          .buttons
            padding: 25px 15px

            ul
              li
                margin-bottom: 20px

                a
                  padding: 8px 8px 5px 8px
                  font-size: 18px

                a:hover
                  color: var(--color-two)

  #blog
    padding: 10px var(--global-padding) 50px var(--global-padding)
    position: relative
    text-align: center

    #svg-decor-3
      position: absolute
      left: 0
      top: 0
      margin: -250px 0 0 0
      z-index: -1

    h2.section-title
      font-family: 'Playfair Display', serif
      font-size: 36px
      position: relative
      display: inline-flex
      justify-content: center
      margin: 0 auto 50px auto

    h2.section-title::before
      content: ""
      height: 3px
      width: 40%
      max-width: 40px
      background: var(--color-one)
      position: absolute
      bottom: -20px

    .wrap
      display: flex
      overflow-x: hidden
      position: relative
      height: 100%
      flex-wrap: wrap
      justify-content: flex-end
      text-align: left

    .read-more
      width: calc( 100% / 3 - 20px )
      margin: 0 0 0 auto

      a
        background: var(--color-one)
        color: var(--color-two)
        border-radius: 5px
        display: flex
        align-items: center
        justify-content: space-between
        padding: 17px 20px
        font-size: 16px

// Single Post Page

body.single-post
  background: var(--color-four)

  #main-section
    padding: 50px var(--global-padding) 60px var(--global-padding)

    #single-post
      background: var(--color-two)
      border-shadow: var(--default-shadow)
      border-radius: 10px
      overflow: hidden

      .post-description
        padding: calc(var(--global-padding) * 2 - 20px) 5% calc(var(--global-padding) * 2 - 60px) 5%
        max-width: 1100px
        margin: 0 auto
        text-align: justify
        line-height: 1.6em

        p
          display: block
          margin-bottom: 15px

      .permalink-navigation
        border-top: 1px solid var(--color-three)
        padding: 40px var(--global-padding)

        .nav-links
          display: flex
          justify-content: space-between
          max-width: 1100px
          margin: 0 auto
          padding: 0 5%

          a
            color: var(--color-one)

// Products Archive Page

body.post-type-archive-product
  background: var(--color-four)

  #main-section
    aside
      flex: 0 0 28%
      padding-right: 30px
      overflow: hidden

      .ui-widget-content
        background-color: var(--color-four)

      .ui-slider-range,
      .ui-slider-handle
        background-color: var(--color-one)

      .ui-slider-horizontal
        height: 0.3em

      .ui-slider-handle
        top: -0.15em
        width: 0.6em
        height: 0.6em

      .price_slider_amount
        display: flex
        flex-direction: column-reverse
        margin-top: -10px

        .price_label
          text-align: center

        .button
          margin-top: 10px
          font-weight: 500

      .box
        background: var(--color-two)
        box-shadow: var(--default-shadow)
        margin-bottom: 20px
        border-radius: 5px
        padding: 18px

        .woocommerce-widget-layered-nav-list
          a
            color: var(--color-one)
            opacity: 0.7

        .woocommerce-widget-layered-nav-list
          a:hover
            opacity: 1

        .product-archive-widget-title
          font-size: 16px
          font-weight: 500
          display: flex
          justify-content: space-between
          align-items: center
          position: relative
          margin: -18px 0 18px -18px
          width: calc(100% + 36px)
          border-bottom: 1px solid var(--color-four)
          padding: 18px

        .content,
        .woocommerce-widget-layered-nav-list
          // display: none
          margin: 20px 0 0 0

      .box.active
        h3::after
          content: "\e874"

    .right-content
      padding-bottom: 10px
      flex: 0 0 72%

      .wrap
        margin: 30px 0 0 0
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 30px

  #navigation
    margin: 30px 0 0 0

// Single Product Page
body.single-product
  background: var(--color-four)

  #products-section
    box-shadow: var(--default-shadow)
    background: var(--color-two)
    border-radius: 10px

    .product-image
      position: relative

    [data-gallery="gallery"]
      position: absolute
      right: 30px
      top: 30px

      .gallery-item
        width: 50px
        height: 50px
        background-size: cover
        margin-bottom: 8px
        border-radius: 100%
        overflow: hidden
        cursor: pointer

        img
          width: 50px
          height: 50px
          object-fit: cover

  .woocommerce-error,
  .woocommerce-info,
  .woocommerce-message
    margin: 0

  .add-to-cart-button
    margin: 30px 0 0 0

    .qty,
    button[type="submit"]
      font-size: 16px
      font-weight: 500
      font-family: var(--body-font)
      text-transform: uppercase

    p.stock,
    p.in-stock
      margin: 0 0 5px 0
      display: block

    .quantity
      position: relative

      .qty
        display: block
        width: 100%
        border: none
        background: #EDEDED
        padding: 10px

    .product-description-link
      display: block

    button[type="submit"]
      margin: 10px 0 0 0
      width: 100%
      background: var(--color-one)
      color: var(--color-two)
      border-radius: 0
      padding: 14px
      text-align: left
      font-weight: 400
      position: relative
      display: flex
      align-items: center

    button[type="submit"]::after
      content: "\e82e"
      font-family: Linearicons-Free
      speak: none
      font-style: normal
      font-weight: 500
      font-variant: normal
      text-transform: none
      line-height: 1
      -webkit-font-smoothing: antialiased
      position: absolute
      right: 14px

  a#product-description-link
    margin: 30px 0 0 0
    // width: calc(100% - 58px)
    background: var(--color-three)
    color: var(--color-one)
    padding: 14px
    display: flex
    align-items: center
    text-transform: uppercase
    font-size: 15px
    font-weight: 400
    position: relative
    // position: absolute
    // bottom: 30px

  a#product-description-link::before
    content: "i"
    text-transform: lowercase
    position: absolute
    right: 22px
    color: var(--color-one)

  a#product-description-link::after
    content: ""
    border: 1px solid var(--color-one)
    height: 18px
    width: 18px
    position: absolute
    right: 14px
    border-radius: 100%

  #product-description
    box-shadow: var(--default-shadow)
    background: var(--color-two)
    border-radius: 5px
    padding: 30px
    margin-bottom: 40px

    h2.section-title
      margin: -30px 0 30px -30px
      padding: 20px 30px
      width: calc( 100% + 60px )
      border-bottom: 1px solid var(--color-four)
      font-size: 20px

// Checkout Page
body.woocommerce-checkout
  background: var(--color-four)

  #main-section
    .wrap
      padding: 0 0 50px 0

      .woocommerce
        background: var(--color-two)
        box-shadow: var(--default-shadow)
        padding: 30px
        border-radius: 10px

        #order_review_heading
          margin: 30px 0 20px 0

// Customer My Account Page
body.woocommerce-account
  background: var(--color-four)

  #main-section
    .wrap
      padding: 0 0 50px 0

      .woocommerce
        .login
          border: none
          box-shadow: var(--default-shadow)
          background: --color-two
          padding: 30px

        h2
          font-family: var(--alt-font)

        input
          border: none
          padding: 15px
          border-radius: 5px
          border: 1px solid var(--color-three)
          color: var(--color-one)
          font-family: var(--default-font)
          font-size: 15px

        input:focus
          border-color: var(--color-one)

        .woocommerce-form__input-checkbox
          box-shadow: none

        .show-password-input
          right: 1em
          top: 1em

        a
          text-decoration: underline
          color: var(--color-one)

        a.button
          text-decoration: none

        nav.woocommerce-MyAccount-navigation
          float: none
          width: 100%
          margin-bottom: 30px
          padding-bottom: 30px
          border-bottom: 1px solid var(--color-three)

          ul
            display: grid
            grid-template-columns: repeat(3, 1fr)
            grid-gap: 10px

            li
              list-style: none

              a
                display: flex
                align-items: center
                padding: 20px
                font-weight: 400
                border-radius: 5px
                box-shadow: var(--default-shadow)
                background: var(--color-two)
                color: var(--color-one)
                position: relative
                text-decoration: none

              a::before
                font-family: Linearicons-Free
                speak: none
                font-style: normal
                font-weight: 500
                font-variant: normal
                text-transform: none
                line-height: 1
                -webkit-font-smoothing: antialiased
                margin-right: 10px

            li.is-active
              a
                background: var(--color-one)
                color: var(--color-two)

            li.woocommerce-MyAccount-navigation-link--dashboard
              a::before
                content: "\e82a"

            li.woocommerce-MyAccount-navigation-link--orders
              a::before
                content: "\e863"

            li.woocommerce-MyAccount-navigation-link--downloads
              a::before
                content: "\e865"

            li.woocommerce-MyAccount-navigation-link--edit-account
              a::before
                content: "\e802"

            li.woocommerce-MyAccount-navigation-link--edit-address
              a::before
                content: "\e833"

            li.woocommerce-MyAccount-navigation-link--customer-logout
              a
                background: #de0d0d
                color: var(--color-two)

              a::before
                content: "\e820"

        .woocommerce-MyAccount-content
          float: none
          width: 100%
          box-shadow: var(--default-shadow)
          background: var(--color-two)
          padding: 30px
          border-radius: 5px

          p
            margin-bottom: 15px

          p:last-child
            margin-bottom: 0

          .woocommerce-error,
          .woocommerce-info,
          .woocommerce-message
            padding: 1em 2em

          .woocommerce-message::before,
          .woocommerce-info::before,
          .woocommerce-error::before
            display: none

          .woocommerce-Addresses
            margin-top: 20px
            padding-top: 20px
            border-top: 1px dotted var(--color-three)

          .woocommerce-Address,
          .woocommerce-Address-title
            background: var(--color-four)

          .woocommerce-Address
            padding: 20px
            border-radius: 5px

            h3
              font-weight: 500
              margin-bottom: 5px

            a.edit
              font-style: italic

          fieldset
            margin: 30px 0
            display: block
            padding: 20px
            border-radius: 5px
            border: none
            border: 1px solid var(--color-three)

            legend
              padding: 0 15px

          .edit-account
            .button
              padding: 16px 20px

          .woocommerce-address-fields__field-wrapper
            margin-bottom: 30px

            .button
              padding: 16px 20px

        .woocommerce-form-login
          .password-input
            margin-bottom: 20px

          .woocommerce-form-login__submit
            // padding: 15px 20px
            background: var(--color-one)
            color: var(--color-two)

          .lost_password
            margin-top: 10px

// Cart Page

body.woocommerce-cart
  background: var(--color-four)

  #main-section
    .wrap
      .woocommerce
        color: var(--color-one)
        margin-bottom: 40px

        .woocommerce-cart-form,
        .shop_table,
        .shop_table_responsive
          background: var(--color-two)

        .shop_table
          background: --color-two
          box-shadow: var(--default-shadow)

          .input-text
            border: 1px solid var(--color-three)

          .qty
            padding: 2px 5px
            border-radius: 3px
            min-width: 40px
            text-align: center

          th
            padding: 12px

          .coupon
            input
              padding: 9px
              border-radius: 3px
              width: 120px

          td
            a
              color: var(--color-one)

        .cart_totals
          margin-top: 20px

          h2
            font-weight: 500
            margin: 0 0 20px 0
            font-size: 20px

        .checkout-button
          background: var(--color-one)
          color: var(--color-two)
          font-size: 16px
          font-weight: 500

        a.button.wc-backward
          background: var(--color-one)
          color: var(--color-two)
          padding: 12px 20px

// Tablet

@media (max-width: 700px)
  header
    #bottom-bar
      .right-content
        justify-content: flex-start

        nav
          width: 100%

          [data-menu="button"]
            background: transparent
            display: block !important
            color: var(--color-one)
            border: none
            padding: 5px 10px
            font-size: 25px

          [data-menu="list"]
            display: none

          [data-menu="list"].active
            display: block
            width: 100%
            padding: 10px 0 0 0

            li
              display: block
              margin: 0 0 10px 0

            [data-dropdown]
              ol
                position: relative
                margin: 0
                top: 0
                padding: 0
                visibility: visible
                opacity: 1

                .image
                  display: none

                .container
                  column-count: 1
                  column-gap: 0

                  .box
                    .label
                      margin: 10px 0 5px 0

                    li
                      margin: 0 0 10px 0

        .header-admin-buttons
          display: none

        #search-products
          display: none

// 404 content
#content-not-found
  width: 100%
  padding: var(--global-padding)

// Animations

@keyframes slide-home
  from
    transform: translateY(-50px)

  to
    transform: translateY(0px)

@keyframes scroll-top
  from
    bottom: 0

  to
    bottom: 10px
