@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap')

\:root
  --body-font: 'Montserrat', sans-serif
  --alt-font: 'Open Sans', sans-serif
  --global-padding: 5%
  --color-one: #111
  --color-two: #fff
  --default-shadow: 0 1px 4px 1px #dfdfdf

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  font-family: var(--body-font)

  a,
  a:hover
    text-decoration: none
    cursor: pointer
    @extend .transition-3ms

  img
    max-width: 100%
    margin: 0 0 -4px 0

.transition-3ms
  -webkit-transition: all 0.3s ease-in-out
  -moz-transition: all 0.3s ease-in-out
  -ms-transition: all 0.3s ease-in-out
  -o-transition: all 0.3s ease-in-out
  transition: all 0.3s ease-in-out

header
  z-index: 5
  position: relative
  background: var(--color-two)

  #top-bar
    display: flex
    justify-content: space-between
    align-items: center
    padding: 16px var(--global-padding)
    background: var(--color-one)
    color: var(--color-two)
    font-size: 13px
    font-weight: 500
    text-transform: uppercase

    .ship-to
      span
        opacity: 0.8

      .label
        font-weight: 600

    .site-language
      span
        opacity: 0.8
        margin: 0 0 0 10px
        display: inline-block

      .current
        opacity: 0.9

  #bottom-bar
    padding: 0 var(--global-padding)
    display: flex
    align-items: center
    justify-content: space-between
    box-shadow: var(--default-shadow)

    ul
      li
        list-style: none
        display: inline-flex

    h1
      font-size: 22px
      font-weight: 700

      a
        color: var(--color-one)

    .right-content
      display: flex
      align-items: center
      justify-content: flex-end

      nav
        margin-right: 8px

        [data-menu="button"]
          display: none

        ul

          li
            margin-right: 26px

            a
              color: var(--color-one)
              padding: 19px 0
              position: relative

            a:before
              content: ""
              position: absolute
              width: 5px
              height: 5px
              background: var(--color-one)
              border-radius: 100%
              left: 50%
              margin: -10px 0 0 -2px
              opacity: 0
              @extend .transition-3ms

            a:hover:before
              opacity: 1

            ol
              position: absolute
              margin: 65px 0 0 -20px
              opacity: 0
              background: var(--color-two)
              width: 100%
              left: 0
              padding: 20px var(--global-padding)
              visibility: hidden
              border-bottom: 2px solid var(--color-one)
              display: flex
              @extend .transition-3ms

              .image
                flex: 0 0 20%
                margin: 0 20px 0 0

              .container
                flex: 0 0 80%
                column-count: 4
                column-gap: 20px

                .box
                  margin: 0 0 30px 0

                  span
                    margin: 0 0 10px 10px
                    opacity: 0.5
                    cursor: default
                    display: block
                    font-size: 13px
                    font-weight: 500

                  li
                    display: block
                    margin: 0 0 8px 10px

                    a
                      border: none
                      padding: 0

                    a:before
                      display: none

                    a:hover
                      color: red
                      padding-left: 5px

          li:hover,
          li.active
            ol
              margin: 65px 0 0 0
              opacity: 1
              visibility: visible

      .header-admin-buttons
        ul
          display: flex
          align-items: center

          li
            padding: 18px 8px

            a
              color: var(--color-one)
              font-size: 20px

              span.lnr-cart
                font-size: 23px

            a:hover
              opacity: 0.7

          li.cart-link
            margin-left: 2px

          li.user-profile
            margin-left: 15px

            img
              width: 30px
              height: 30px
              border-radius: 100%
              object-fit: contain

#main-slide
  .slide-wrap
    display: flex
    overflow-x: hidden
    position: relative
    height: 100%
    margin-left: -4px

    .slide
      position: relative
      height: 400px
      overflow: hidden
      margin-left: 4px
      width: calc( (100% / 3) * 2)
      display: inline-block
      background-size: cover
      flex-shrink: 0
      -webkit-transition: all 0.4s ease-out
      -moz-transition: all 0.4s ease-out
      -ms-transition: all 0.4s ease-out
      -o-transition: all 0.4s ease-out
      transition: all 0.4s ease-out

      .container
        position: absolute
        height: 100%
        width: 100%
        padding: 40px
        top: 0
        display: flex
        align-items: flex-end
        justify-content: center
        background: rgba(0, 0, 0, 0.6)

        a
          background: #000
          color: var(--color-two)
          font-weight: 500
          text-transform: uppercase
          text-align: center
          min-width: 200px
          padding: 14px 20px
          font-size: 13px
          display: none

    .active
      .container
        background: rgba(0, 0, 0, 0)

        a
          display: block

    .previous,
    .next
      position: absolute
      height: 100%
      z-index: 1
      display: flex
      align-items: center
      top: 0

      a
        color: var(--color-two)
        background: var(--color-one)
        display: inline-block
        padding: 10px

    .previous
      left: 0px

    .next
      right: 0px
      justify-content: flex-end

#recommended
  padding: 30px 0

  h2
    text-align: center
    margin: 0 0 10px 0
    font-size: 16px

  .slide-wrap
    display: flex
    overflow-x: hidden
    position: relative
    height: 100%
    margin-left: -4px

    .slide
      position: relative
      height: 200px
      overflow: hidden
      width: calc( 100% / 6 )
      display: inline-block
      background-size: cover
      flex-shrink: 0
      margin-left: 4px
      @extend .transition-3ms

      .container
        position: absolute
        height: 100%
        width: 100%
        padding: 40px
        top: 0
        display: flex
        align-items: center
        justify-content: center
        opacity: 0
        transform: skewX(-30deg)
        @extend .transition-3ms

        a
          color: var(--color-two)
          font-weight: 500

    .slide:hover
      .container
        background: rgba(0, 0, 0, 0.6)
        backdrop-filter: blur(2px)
        opacity: 1
        transform: skewX(0deg)

    .previous,
    .next
      position: absolute
      height: 100%
      z-index: 1
      display: flex
      align-items: center

      a
        color: var(--color-two)
        background: var(--color-one)
        display: inline-block
        padding: 10px

    .previous
      left: 0px

    .next
      right: 0px
      justify-content: flex-end

#main-section
  padding: 30px var(--global-padding) 0 var(--global-padding)

  #content-info
    padding: 0 0 15px 0
    border-bottom: 2px solid var(--color-one)
    display: flex
    justify-content: space-between
    align-items: center

    .category
      li
        list-style: none
        display: inline-block
        position:

      li:after
        content: ">"
        display: inline-block
        margin: 0 5px 0 7px

      li:last-child
        font-weight: 600

      li:last-child:after
        display: none

    .filters
      select
        border: none
        outline: none
        font-family: var(--body-font)
        font-size: 16px
        font-weight: 600

        option
          border: none
          outline: none
          font-family: var(--body-font)
          font-size: 16px
          font-weight: 600
          padding: 15px
          display: block

        #columns-count
          margin-right: 15px

    .model
      font-size: 13px
      font-weight: 500

  #products-section
    display: flex
    padding: 25px 0

    aside
      flex: 0 0 22%
      margin-right: 5px
      background: #eee
      padding: 20px

    #products
      text-align: right
      margin: 0 0 -20px 0
      display: flex
      flex-wrap: wrap

      a
        color: var(--color-one)

      .product
        flex-basis: calc( 100% / 3 - 20px )
        flex-shrink: 0
        margin: 0 0 20px 20px
        border: 1px solid #eee
        background: var(--color-two)
        border-radius: 2px
        overflow: hidden

        .product-info
          text-align: left
          padding: 15px

          h3
            font-size: 16px

        .buttons
          position: absolute

      .product:hover
        box-shadow: 0 2px 3px 0 #eee

#navigation
  display: flex
  padding: 30px
  margin: 0 var(--global-padding)
  background: var(--color-one)
  color: var(--color-two)
  justify-content: center
  text-transform: uppercase

  a
    color: var(--color-two)
    display: inline-flex

  .previous
    margin: 0 40px 0 0

  .next
    margin: 0 0 0 40px

  .count
    letter-spacing: 5px

#contact
  border-top: 2px solid var(--color-one)
  padding: 40px var(--global-padding)
  background: var(--color-two)

  h2
    font-size: 18px
    margin: 0 0 20px 0

  .container
    display: flex
    justify-content: space-between

    input
      border: none
      outline: none
      border: 2px solid var(--color-one)
      padding: 10px
      font-family: var(--body-font)
      width: 49.5%
      font-size: 15px

    input:focus
      border-color: red

footer
  background: var(--color-one)
  color: var(--color-two)
  padding: 30px var(--global-padding)

#effusus-single
  #products-section
    border-bottom: 2px solid var(--color-one)
    padding: 0
    margin: 0 0 40px 0

    #products
      flex: 1 0 50%
      margin: 0

      .product
        width: 100%
        margin: 0
        border: none
        border-radius: none

      .product:hover
        box-shadow: none

    .product-buttons
      flex: 1 0 30%
      padding: 30px
      border-right: 2px solid var(--color-one)

      .top-content
        display: flex
        justify-content: space-between
        align-items: center

        .product-info
          .name,
          .price,
          .reviews
            display: block

          .name
            font-size: 22px

          .price
            font-weight: 600
            font-size: 26px
            margin: 8px 0 0 0

          .reviews
            text-decoration: underline
            color: var(--color-one)
            opacity: 0.8
            margin: 5px 0 0 0
            font-size: 15px

        .favorite-button
          a
            color: var(--color-one)
            font-size: 40px

          a:hover
            color: red

      .size
        margin: 30px 0 0 0

        h2
          font-weight: 500
          font-size: 18px
          margin: 0 0 15px 0

        ul
          li
            list-style: none
            display: inline-flex
            font-weight: 500

            a
              color: var(--color-one)
              background: #b4b4b4
              padding: 10px
              margin: 0 1px 4px 0
              min-width: 40px
              display: inline-block
              text-align: center

            a:hover,
            .active
              background: var(--color-one)
              color: var(--color-two)

    .product-recomendation
      flex: 1 0 20%

      h4
        padding: 30px 30px 20px 30px

      a
        max-height: 180px
        overflow: hidden
        display: block

@media (max-width: 700px)
  header
    #bottom-bar
      .right-content
        nav
          [data-menu="button"]
            display: block !important
            background: var(--color-one)
            color: var(--color-two)
            border: none
            padding: 20px

          [data-menu="list"]
            display: none

        #search-products
          display: none
