@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
:root {
  --body-font: 'Montserrat', sans-serif;
  --alt-font: 'Open Sans', sans-serif;
  --global-padding: 5%;
  --color-one: #111;
  --color-two: #fff;
  --default-shadow: 0 1px 4px 1px #dfdfdf;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--body-font);
}

body a,
body a:hover {
  text-decoration: none;
  cursor: pointer;
}

body img {
  max-width: 100%;
  margin: 0 0 -4px 0;
}

.transition-3ms, body a,
body a:hover, header #bottom-bar .right-content nav ul li a:before, header #bottom-bar .right-content nav ul li ol, #recommended .slide-wrap .slide, #recommended .slide-wrap .slide .container {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header {
  z-index: 5;
  position: relative;
  background: var(--color-two);
}

header #top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px var(--global-padding);
  background: var(--color-one);
  color: var(--color-two);
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

header #top-bar .ship-to span {
  opacity: 0.8;
}

header #top-bar .ship-to .label {
  font-weight: 600;
}

header #top-bar .site-language span {
  opacity: 0.8;
  margin: 0 0 0 10px;
  display: inline-block;
}

header #top-bar .site-language .current {
  opacity: 0.9;
}

header #bottom-bar {
  padding: 0 var(--global-padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: var(--default-shadow);
          box-shadow: var(--default-shadow);
}

header #bottom-bar ul li {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

header #bottom-bar h1 {
  font-size: 22px;
  font-weight: 700;
}

header #bottom-bar h1 a {
  color: var(--color-one);
}

header #bottom-bar .right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header #bottom-bar .right-content nav {
  margin-right: 8px;
}

header #bottom-bar .right-content nav [data-menu="button"] {
  display: none;
}

header #bottom-bar .right-content nav ul li {
  margin-right: 26px;
}

header #bottom-bar .right-content nav ul li a {
  color: var(--color-one);
  padding: 19px 0;
  position: relative;
}

header #bottom-bar .right-content nav ul li a:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: var(--color-one);
  border-radius: 100%;
  left: 50%;
  margin: -10px 0 0 -2px;
  opacity: 0;
}

header #bottom-bar .right-content nav ul li a:hover:before {
  opacity: 1;
}

header #bottom-bar .right-content nav ul li ol {
  position: absolute;
  margin: 65px 0 0 -20px;
  opacity: 0;
  background: var(--color-two);
  width: 100%;
  left: 0;
  padding: 20px var(--global-padding);
  visibility: hidden;
  border-bottom: 2px solid var(--color-one);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #bottom-bar .right-content nav ul li ol .image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  margin: 0 20px 0 0;
}

header #bottom-bar .right-content nav ul li ol .container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  -webkit-column-count: 4;
          column-count: 4;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

header #bottom-bar .right-content nav ul li ol .container .box {
  margin: 0 0 30px 0;
}

header #bottom-bar .right-content nav ul li ol .container .box span {
  margin: 0 0 10px 10px;
  opacity: 0.5;
  cursor: default;
  display: block;
  font-size: 13px;
  font-weight: 500;
}

header #bottom-bar .right-content nav ul li ol .container .box li {
  display: block;
  margin: 0 0 8px 10px;
}

header #bottom-bar .right-content nav ul li ol .container .box li a {
  border: none;
  padding: 0;
}

header #bottom-bar .right-content nav ul li ol .container .box li a:before {
  display: none;
}

header #bottom-bar .right-content nav ul li ol .container .box li a:hover {
  color: red;
  padding-left: 5px;
}

header #bottom-bar .right-content nav ul li:hover ol,
header #bottom-bar .right-content nav ul li.active ol {
  margin: 65px 0 0 0;
  opacity: 1;
  visibility: visible;
}

header #bottom-bar .right-content .header-admin-buttons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #bottom-bar .right-content .header-admin-buttons ul li {
  padding: 18px 8px;
}

header #bottom-bar .right-content .header-admin-buttons ul li a {
  color: var(--color-one);
  font-size: 20px;
}

header #bottom-bar .right-content .header-admin-buttons ul li a span.lnr-cart {
  font-size: 23px;
}

header #bottom-bar .right-content .header-admin-buttons ul li a:hover {
  opacity: 0.7;
}

header #bottom-bar .right-content .header-admin-buttons ul li.cart-link {
  margin-left: 2px;
}

header #bottom-bar .right-content .header-admin-buttons ul li.user-profile {
  margin-left: 15px;
}

header #bottom-bar .right-content .header-admin-buttons ul li.user-profile img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#main-slide .slide-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  position: relative;
  height: 100%;
  margin-left: -4px;
}

#main-slide .slide-wrap .slide {
  position: relative;
  height: 400px;
  overflow: hidden;
  margin-left: 4px;
  width: calc( (100% / 3) * 2);
  display: inline-block;
  background-size: cover;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

#main-slide .slide-wrap .slide .container {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 40px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.6);
}

#main-slide .slide-wrap .slide .container a {
  background: #000;
  color: var(--color-two);
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  min-width: 200px;
  padding: 14px 20px;
  font-size: 13px;
  display: none;
}

#main-slide .slide-wrap .active .container {
  background: rgba(0, 0, 0, 0);
}

#main-slide .slide-wrap .active .container a {
  display: block;
}

#main-slide .slide-wrap .previous,
#main-slide .slide-wrap .next {
  position: absolute;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
}

#main-slide .slide-wrap .previous a,
#main-slide .slide-wrap .next a {
  color: var(--color-two);
  background: var(--color-one);
  display: inline-block;
  padding: 10px;
}

#main-slide .slide-wrap .previous {
  left: 0px;
}

#main-slide .slide-wrap .next {
  right: 0px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#recommended {
  padding: 30px 0;
}

#recommended h2 {
  text-align: center;
  margin: 0 0 10px 0;
  font-size: 16px;
}

#recommended .slide-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  position: relative;
  height: 100%;
  margin-left: -4px;
}

#recommended .slide-wrap .slide {
  position: relative;
  height: 200px;
  overflow: hidden;
  width: calc( 100% / 6);
  display: inline-block;
  background-size: cover;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 4px;
}

#recommended .slide-wrap .slide .container {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 40px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
}

#recommended .slide-wrap .slide .container a {
  color: var(--color-two);
  font-weight: 500;
}

#recommended .slide-wrap .slide:hover .container {
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  opacity: 1;
  -webkit-transform: skewX(0deg);
          transform: skewX(0deg);
}

#recommended .slide-wrap .previous,
#recommended .slide-wrap .next {
  position: absolute;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#recommended .slide-wrap .previous a,
#recommended .slide-wrap .next a {
  color: var(--color-two);
  background: var(--color-one);
  display: inline-block;
  padding: 10px;
}

#recommended .slide-wrap .previous {
  left: 0px;
}

#recommended .slide-wrap .next {
  right: 0px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#main-section {
  padding: 30px var(--global-padding) 0 var(--global-padding);
}

#main-section #content-info {
  padding: 0 0 15px 0;
  border-bottom: 2px solid var(--color-one);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-section #content-info .category li {
  list-style: none;
  display: inline-block;
}

#main-section #content-info .category li:after {
  content: ">";
  display: inline-block;
  margin: 0 5px 0 7px;
}

#main-section #content-info .category li:last-child {
  font-weight: 600;
}

#main-section #content-info .category li:last-child:after {
  display: none;
}

#main-section #content-info .filters select {
  border: none;
  outline: none;
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 600;
}

#main-section #content-info .filters select option {
  border: none;
  outline: none;
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
  display: block;
}

#main-section #content-info .filters select #columns-count {
  margin-right: 15px;
}

#main-section #content-info .model {
  font-size: 13px;
  font-weight: 500;
}

#main-section #products-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
}

#main-section #products-section aside {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
          flex: 0 0 22%;
  margin-right: 5px;
  background: #eee;
  padding: 20px;
}

#main-section #products-section #products {
  text-align: right;
  margin: 0 0 -20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main-section #products-section #products a {
  color: var(--color-one);
}

#main-section #products-section #products .product {
  -ms-flex-preferred-size: calc( 100% / 3 - 20px);
      flex-basis: calc( 100% / 3 - 20px);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 0 20px 20px;
  border: 1px solid #eee;
  background: var(--color-two);
  border-radius: 2px;
  overflow: hidden;
}

#main-section #products-section #products .product .product-info {
  text-align: left;
  padding: 15px;
}

#main-section #products-section #products .product .product-info h3 {
  font-size: 16px;
}

#main-section #products-section #products .product .buttons {
  position: absolute;
}

#main-section #products-section #products .product:hover {
  -webkit-box-shadow: 0 2px 3px 0 #eee;
          box-shadow: 0 2px 3px 0 #eee;
}

#navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  margin: 0 var(--global-padding);
  background: var(--color-one);
  color: var(--color-two);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

#navigation a {
  color: var(--color-two);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#navigation .previous {
  margin: 0 40px 0 0;
}

#navigation .next {
  margin: 0 0 0 40px;
}

#navigation .count {
  letter-spacing: 5px;
}

#contact {
  border-top: 2px solid var(--color-one);
  padding: 40px var(--global-padding);
  background: var(--color-two);
}

#contact h2 {
  font-size: 18px;
  margin: 0 0 20px 0;
}

#contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact .container input {
  border: none;
  outline: none;
  border: 2px solid var(--color-one);
  padding: 10px;
  font-family: var(--body-font);
  width: 49.5%;
  font-size: 15px;
}

#contact .container input:focus {
  border-color: red;
}

footer {
  background: var(--color-one);
  color: var(--color-two);
  padding: 30px var(--global-padding);
}

#effusus-single #products-section {
  border-bottom: 2px solid var(--color-one);
  padding: 0;
  margin: 0 0 40px 0;
}

#effusus-single #products-section #products {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  margin: 0;
}

#effusus-single #products-section #products .product {
  width: 100%;
  margin: 0;
  border: none;
  border-radius: none;
}

#effusus-single #products-section #products .product:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#effusus-single #products-section .product-buttons {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  padding: 30px;
  border-right: 2px solid var(--color-one);
}

#effusus-single #products-section .product-buttons .top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#effusus-single #products-section .product-buttons .top-content .product-info .name,
#effusus-single #products-section .product-buttons .top-content .product-info .price,
#effusus-single #products-section .product-buttons .top-content .product-info .reviews {
  display: block;
}

#effusus-single #products-section .product-buttons .top-content .product-info .name {
  font-size: 22px;
}

#effusus-single #products-section .product-buttons .top-content .product-info .price {
  font-weight: 600;
  font-size: 26px;
  margin: 8px 0 0 0;
}

#effusus-single #products-section .product-buttons .top-content .product-info .reviews {
  text-decoration: underline;
  color: var(--color-one);
  opacity: 0.8;
  margin: 5px 0 0 0;
  font-size: 15px;
}

#effusus-single #products-section .product-buttons .top-content .favorite-button a {
  color: var(--color-one);
  font-size: 40px;
}

#effusus-single #products-section .product-buttons .top-content .favorite-button a:hover {
  color: red;
}

#effusus-single #products-section .product-buttons .size {
  margin: 30px 0 0 0;
}

#effusus-single #products-section .product-buttons .size h2 {
  font-weight: 500;
  font-size: 18px;
  margin: 0 0 15px 0;
}

#effusus-single #products-section .product-buttons .size ul li {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 500;
}

#effusus-single #products-section .product-buttons .size ul li a {
  color: var(--color-one);
  background: #b4b4b4;
  padding: 10px;
  margin: 0 1px 4px 0;
  min-width: 40px;
  display: inline-block;
  text-align: center;
}

#effusus-single #products-section .product-buttons .size ul li a:hover,
#effusus-single #products-section .product-buttons .size ul li .active {
  background: var(--color-one);
  color: var(--color-two);
}

#effusus-single #products-section .product-recomendation {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20%;
          flex: 1 0 20%;
}

#effusus-single #products-section .product-recomendation h4 {
  padding: 30px 30px 20px 30px;
}

#effusus-single #products-section .product-recomendation a {
  max-height: 180px;
  overflow: hidden;
  display: block;
}

@media (max-width: 700px) {
  header #bottom-bar .right-content nav [data-menu="button"] {
    display: block !important;
    background: var(--color-one);
    color: var(--color-two);
    border: none;
    padding: 20px;
  }
  header #bottom-bar .right-content nav [data-menu="list"] {
    display: none;
  }
  header #bottom-bar .right-content #search-products {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */